# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches:
      - master
      - 'maint-**'
      - 'feature/**'

jobs:
  Tests:

    runs-on: ubuntu-20.04

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout
      uses: actions/checkout@v3

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    # Temporary solution: We will remove this after we publish the
    #                     GEO Knowledge Hub dependencies in the NPM Registry.
    - name: Start required services
      run: |
        ./docker/builder/start.sh

    - name: Install & Build
      run: |
        npm --legacy-peer-deps install
        npm run build

    - name: Lint
      run: npm run lint
  
    - name: Test
      run: npm test

    - name: Test build
      run: npm run build
